{% extends 'myapp/base.html' %}
{% block contents %}
<br><hr>
    {% if perm %}

            <div class="table-responsive-sm table-hover">
                    <div class="form-group col-md-4 float-right">
                    <div class="input-group-append">
                         <input class="form-control rounded-0 py-2" type="search" placeholder="search..." id="myInput">
                         <i class="fa fa-search"></i>
                    </div>
                </div>
                <table class="table">

                    <thead>

                    <tr>
                        <th>Permission</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                        <tbody id="myTable">
                        {% for u in perm %}
                            <tr>
                                <td>{{ u.name }}</td>

                                
                               
                                <td><a type="button" class="btn btn-success" type="button" class="btn btn-success" href="{% url 'update_permission' u.id %}"><i class="fas fa-edit"></i> Update</a>  <a type="button" class="btn btn-danger" href="{% url 'delete_permission' u.id %}" onclick="alert('Are you sure want to delete this record ?')"><i class="fas fa-trash-alt"></i> Delete</a></td>
                            </tr>
                         {% endfor %}
                    <tbody>

                </table>
            </div>


                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script>
                    $(document).ready(function(){
                      $("#myInput").on("keyup", function() {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function() {
                          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                      });
                    });
                    </script>

    {% endif %}


{% endblock %}
                